.git
src/.env
src/node_modules
src/vendor
src/storage/framework/cache/**
src/storage/framework/sessions/**
src/storage/framework/views/**
src/storage/api-docs/**
src/.phpunit.result.cache
src/.phpcs.cache
